QDialog
{
    background-image: url("images/background.png");
}
QPushButton#uploadButton
{
    border: None;
    background-color: #7ad0eb;
    width: 800px;
    min-height:50px;
    text-align: center;
    color: #233338;
    font-size: 15px;
}

QPushButton#uploadButton:pressed
{
    background-color: #034987;
    color:#ffffff
}

QPushButton#uploadButton:hover
{
    border: 2px solid #034987;
}