body 
{
    background-color: #ffffff;
    color: #233338;
    font-size:12px;
}
QWidget 
{
    background-color: #ffffff;
    color: #233338;
    font-size:12px;
}

QComboBox
{
    selection-background-color: #7ad0eb;
    background-color: #ffffff;
    border: 1px solid #1e1e1e;
    min-height:30px;
}

QComboBox:on
{
    padding-top: 3px;
    padding-left: 4px;
    background-color: #7ad0eb;
    selection-background-color: #d7b2f4;
    color: #233338;
}

QComboBox QAbstractItemView
{
    border: 2px solid darkgray;
    selection-background-color: #7ad0eb;
    color: #233338;
}

QComboBox::drop-down
{
     subcontrol-origin: padding;
     subcontrol-position: top right;
     width: 15px;
     color: #233338;

     border-left-width: 0px;
     border-left-color: darkgray;
     border-left-style: solid; /* just a single line */
     border-top-right-radius: 3px; /* same radius as the QComboBox */
     border-bottom-right-radius: 3px;
 }

QComboBox::down-arrow
{
     image: url("images/down_arrow.png");
}

 QPushButton
 {
    border: None;
    background-color: #7ad0eb;
    min-height:40px;
    text-align: center;
    color: #233338;
}

QPushButton:pressed
{
    background-color: #034987;
    color:#ffffff
}

QComboBox:hover,QPushButton:hover
{
    border: 2px solid #034987;
}

QLineEdit
{
    min-height:30px;
    border: 1px solid #1e1e1e;
}